@font-face {
    font-family: future-bold;
    src: url(fonts/Futura-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #fff;
    background-color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f7f7f7;
}

#nav {
    /* height: 100px; */
    width: 100%;
    /* background-color:aquamarine; */
    position: fixed;
    z-index: 99;
    padding: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-part-1 {
    /* background-color: red; */
    height: 83px;
    overflow: hidden;
}

.nav-part-1 svg {
    display: block;

}

.nav-part-1 img {
    height: 60px;
}

#nav .nav-part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.links {
    padding: 10px;
}

.nav-part-2 .links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
    margin: 0 20px;
}

.Icons {
    padding: 8px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

.nav-part-2 .Icons i {
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor {
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    /* z-index: 1; */
}

.page-1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 1vw;
    padding-top: 25vh;
}

.page-1 h1 {
    font-size: 15.5vw;
    font-family: future-bold;
    line-height: 13vw;
    letter-spacing: -10px;
}

/* .page-2{
    height: 100vh;
    width: 100%;
} */
.video-container {
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    background-color: gray;
    position: relative;
}

.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.video-container .play {
    padding: 2.2vw 1.7vw;
    background-color: #000;
    color: #fff;
    font-size: 1.2vw;
    font-family: future-bold;
    position: fixed;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

.line-1 {
    margin-top: 80px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.line-1 h5 {
    font-size: 1vw;
    justify-content: space-between;
    color: #000000b6;
}

.page-2 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}

.page-2 .elem {
    height: 100%;
    width: 31%;
    /* background-color: aquamarine; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-2 .elem img {
    height: 100%;
    width: 106%;
    object-fit: cover;
    scale: 1.1;
}

.page-2 .elem .dets {
    height: 50px;
    width: 70%;
    border-radius: 50px;
    position: absolute;
    z-index: 9;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

/* .page-2 .elem .dets:hover{
    height: 200px;
} */
.page-2 .elem .dets .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 8px; */
    font-weight: 100;
}

/* .page-2 .elem .dets h5{
    font-weight: 100;
} */
.text-area-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
    padding: 15px 15px;
    padding-right: 11%;
}

.text-area-1 .text-area-left {
    width: 45%;
}

.text-area-1 .text-area-left h1 {
    line-height: 1;
    font-size: 48px;
}

.text-area-1 .text-area-right {
    width: 30%;
    font-size: 15px;
}

.text-area-1 .text-area-right p {
    font-size: 18px;
    font-weight: lighter;
    line-height: 1.6;
    color: #000000e0;
}

.text-area-1 .text-area-right h6 {
    width: 132px;
    padding-top: 55px;
    font-size: 14px;
    color: #000000b0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.851);
}

.page-3 {
    min-height: 120vh;
    width: 100%;
    /* background-color: #f7f7f7; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 35px;
}

.child {
    height: 65vh;
    width: 40vw;
    /* background-color: chocolate; */
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;
}

.child img {
    height: 100%;
}

.line-2 {
    margin-top: 80px;
    border-bottom: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.line-2 h5 {
    font-size: 1vw;
    justify-content: space-between;
    color: #000000b6;
}

.text-area-2 {
    height: 150vh;
    /* width: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;
    flex-direction: column; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.5vh;
    width: 100%;
    height: 80vh;
}

.text-area-2 h1 {
    font-size: 72px;
    text-align: center;
    padding: 20px 0;
    /* font-weight: 500; */
    text-transform: uppercase;
    letter-spacing: -0.03em;
    line-height: 1em;
}

.text-area-2 h5 {
    padding: 1.4vw 4vw;
    font-size: 0.9vw;
    border-radius: 50px;
    /* font-family: Gilroy-bold; */
    color: #fff;
    border: 1px solid #111;
    background-color: #000000;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    cursor: pointer;
}

.text-area-2 p {
    width: 20%;
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    /* border-bottom: 1px solid #000; */
}

.page-4 {
    height: 100vh;
    width: 100%;
    /* background-color: antiquewhite; */
    padding: 50px 25px;
    display: flex;
}

.page-4 .page-4-left h2 {
    font-size: 24px;
    font-weight: bold;
}

.page-4 .page-4-left {
    width: 30%;
    padding: 80px 0;
}

.page-4 .page-4-left p {
    padding: 20px 0;
}

.page-4 .page-4-left h6 {
    width: 161px;
    padding-top: 30px;
    font-size: 14px;
    color: #000000b0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.851);
}

.page-4 .page-4-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-4 .page-4-right img {
    width: 43%;
    padding: 0 20px;

}

.page-5 {
    height: 50vh;
    padding: 67px 34px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.page-5 .page-5-left h5 {
    padding: 10px 0;
    font-size: 15px;
    color: #0000009c;
}

.page-5 .page-5-left h6 {
    font-size: 15px;
    font-weight: 100;
}

.page-5 .page-5-mid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-5 .page-5-mid img {
    height: 13vw;
    /* width: 130px; */
}

.page-5 .page-5-mid .footer {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-5 .page-5-mid .footer h6 {
    font-size: 13px;
    margin: 15px;
    color: #00000046;
}

.page-5 .page-5-right h5 {
    padding: 10px 0;
    font-size: 15px;
    color: #0000009c;
}

.page-5 .page-5-right h6 {
    font-size: 15px;
    font-weight: 100;
}

.last {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last p {
    width: 68%;
    text-align: center;
}



@media (max-width: 600px) {
    .nav-part-1 svg {
        width: 67px;
    }

    #nav .nav-part-2 {
        width: 40%;
    }

    .Icons {
        padding-right: 23px;
        padding-left: 0px;
    }

        .nav-part-2 .Icons i {
            font-size: 15px;
            margin: 0 20px;
            font-weight: 100;
        }

        #nav #twogood2 {
            width: 53px;
        }

        .links {
            display: none;
        }

        .page-1 {
            min-height: 70vh;
            width: 100%;
            padding: 0 3vw;
            padding-top: 25vh;
        }

        .page-1 h1 {
            font-size: 15.5vw;
            line-height: 14vw;
            letter-spacing: -4px;
        }

        .video-container {
            height: 23vh;
            margin-top: 3vw;
        }

        .video-container .play {
            padding: 7vw 5.2vw;
            top: 50%;
            left: 50%;
            background-color: #000;
            color: #fff;
            font-size: 4vw;
            font-family: future-bold;
            position: absolute;
            border-radius: 50%;
            opacity: 1;
            scale: 1;
            transform: translate(-50%, -50%);
        }

        .line-1 {
            margin-top: -30px;
        }

        .line-1 h5 {
            font-size: 2.5vw;
            justify-content: space-between;
            color: #000000b6;
        }

        .page-2 {
            height: 200vh;
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 5vw 3svw;
        }

        .page-2 .elem {
            height: 150vh;
            width: 100%;
            /* background-color: aquamarine; */
            overflow: hidden;
            margin-bottom: 3vw;
        }

        .page-2 .elem img {
            height: 100%;
            width: 106%;
            object-fit: cover;
            scale: 1.1;
        }

        .text-area-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 8px 0px;
            padding-right: 319px;
        }

        .text-area-1 .text-area-left h1 {
            line-height: 1;
            font-size: 15px;
            width: 352px;
            text-align: center;
        }

        .text-area-1 .text-area-right p {
            font-size: 12px;
            width: 353px;
            text-align: center;
            padding-top: 20px;
        }

        .text-area-1 .text-area-right h6 {
            width: 343px;
            padding-top: 55px;
            font-size: 14px;
            padding-left: 117px;
        }

        .page-3 {
            min-height: 120vh;
            width: 100%;
            position: relative;
            /* background-color: #f7f7f7; */
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            /* margin-top: 35px; */
        }

        .child {
            height: 54vh;
            width: 88vw;
            /* background-color: chocolate; */
            /* border: 2px solid black; */
            padding: 10vw;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            /* flex-direction: column; */
        }

        .child img {
            height: 100%;
        }

        .line-2 h5 {
            font-size: 2vw;
        }

        .text-area-2 {
            height: 55vh;
        }

        .text-area-2 h1 {
            font-size: 21px;
            padding: 6px 0;
        }

        .text-area-2 h5 {
            padding: 1.4vw 4vw;
            font-size: 2vw;
        }

        .text-area-2 p {
            width: 66%;
            font-size: 16px;
        }

        .page-4 {
            height: 83vh;
            width: 100%;
            flex-direction: column-reverse;
            padding: 0px 24px;
        }

        .page-4 .page-4-right img {
            width: 50%;
            padding: 0 11px;
        }

        .page-4 .page-4-left h2 {
            font-size: 24px;
        }

        .page-4 .page-4-left p {
            padding: 20px 0;
            width: 90vw;
        }

        .page-5 {
            height: 24vh;
            padding: 0px 34px;
        }

        .page-5 .page-5-mid {
            display: none;
        }

        .last p {
            width: 94%;
        }

    }